<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python Final Exam</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body class="bg-[#1d1d1d] text-[#2F8886]">
    <nav
      class="flex justify-center gap-8 sticky top-0 z-20 border-b border-[#658d98] bg-transparent backdrop-blur-lg py-6 px-10">
      <a href="/portfolio" class="hover:text-[#658d98] font-bold">Portfolio</a>
      <a href="/" class="hover:text-[#658d98] font-bold">Regression</a>
      <a href="/timeseries" class="hover:text-[#658d98] font-bold"
        >Time Series</a
      >
    </nav>
    <main class="max-w-screen-xl w-full mx-auto mt-10">
      <section>
        <h2 class="text-2xl font-semibold text-center w-full text-primary my-8">
          Multiple Linear Regression Result
        </h2>
        <section class="flex gap-4">
          <p class="text-[#6e6e6e] inline">Coefficient for X1:</p>
          <p class="font-bold text-[#2F8886]">{{ coef1 }}</p>
        </section>
        <section class="flex gap-4">
          <p class="text-[#6e6e6e] inline">Coefficient for X2</p>
          <p class="font-bold text-[#2F8886]">{{ coef2 }}</p>
        </section>
        <section class="flex gap-4">
          <p class="text-[#6e6e6e] inline">Intercept:</p>
          <p class="font-bold text-[#2F8886]">{{ intercept }}</p>
        </section>
        <section class="flex gap-4">
          <p class="text-[#6e6e6e] inline">Prediction for X1=6, X2=7:</p>
          <p class="font-bold text-[#2F8886]">{{ prediction }}</p>
        </section>
        <section class="flex gap-4">
          <p class="text-[#6e6e6e] inline">R² Score:</p>
          <p class="font-bold text-[#2F8886]">{{ r2 }}</p>
        </section>
        <section class="flex gap-4 align-center h-fit">
          <p class="text-[#6e6e6e] h-fit mt-16">
            Correlation Matrix (Check Multicollinearity):
          </p>
            {{ corr|safe}}
        </section>
      </section>
      <div class="flex align-center my-5 justify-evenly">
        <section class="w-96">
          <h3>Residual Plot (Linearity & Homoscedasticity)</h3>
          <img
            src="{{ url_for('static', filename='residuals.png') }}"
            alt="Residual Plot" />
        </section>
        <section class="w-96">
          <h3>Normality Check (QQ Plot)</h3>
          <img
            src="{{ url_for('static', filename='normality.png') }}"
            alt="Normality Plot" />
        </section>
      </div>
    </main>
  </body>
</html>
